<h1>School Class Form</h1>

<%form_for @school_class do |f|%>
<%f.label :room_number%>:
<%f.text_field :room_number%><br>
<%f.label :school_class_title%>
<%f.text_field :school_class_title%><br>
<%f.submit%>
<%end%>
